body {
  padding: 0;
  margin: 0;
}
.headerBar {
  width: 100vw;
  border-bottom: 1px solid gray;
  height: 130px;
  display: flex;
  justify-content: center;
}
.menuIconOpen {
  display: none;
}
.menuIconClose {
  display: none;
}
.headerContainer {
  width: 1170px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 230px;
  max-height: 130px;
}
.createButton {
  margin-right: 20px;
  padding-top: 5px;
}
.headerElems {
  font-size: 22px;
  display: flex;
}
.authButtons {
  padding-top: 5px;
  text-align: center;
  background: #f95270;
  color: #fff;
  border-radius: 10px;
  height: 35px;
  width: 300px;
}
@media (max-width: 768px) {
  .headerElems {
    display: none;
  }

  .menuIconOpen {
    display: block;
    max-width: 40px;
    margin-right: 40px;
    transition: 0.5s;
    transform: rotate(90deg);
  }
  .menuIconClose {
    display: block;
    transition: 0.5s;
    max-width: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 480px) {
  .headerBar {
    width: 100%;
    max-width: none;
    height: 110px;
  }
  .menuIcon {
    max-width: 60px;
    margin-right: 20px;
  }
}
