.container {
  position: fixed;
  width: 75vw;
  height: 150vh;
  background-color: #050307;
  z-index: 100;
  color: #fff;
  display: flex;
  flex-direction: column;
  left: auto;
  align-items: center;
  font-size: 28px;
}
.image {
  width: 100%;
}
.elem {
  margin-top: 25px;
}
.logout {
  margin-bottom: 0;
  margin-top: auto;
  margin-bottom: 60vh;
}
