.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 0.5s;
}
.modalContent {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  height: 25%;
  box-sizing: border-box;
}
.title {
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
}
.description {
  font-size: 1.5rem;
  padding-top: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  margin-top: 45px;
}
.cancelButton {
  background-color: aliceblue;
  color: #000;
  
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  height: 4vh;
  width: 120px;
  box-sizing: border-box;
  font-size: 1.2rem;
  cursor: pointer;
}
.deleteButton {
  background-color: palevioletred;
  color: #fff;
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  height: 4vh;
  width: 120px;
  box-sizing: border-box;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 988px) {
  .buttonsContainer {
    margin-top: 25px;
  }
  .cancelButton {
    width: 120px;
  }
  .deleteButton {
    width: 120px;
  }
  .description {
    font-size: 1.3rem;
  
  }
}
@media screen and (max-width: 768px) {
  .buttonsContainer{
    margin-top: 35px;
  }
  .cancelButton {
    width: 120px;
  }
  .deleteButton {
    width: 120px;
  }
 
  .modalContent{
    width: 60%;
  }
}
@media screen and (max-width: 480px){
  .modalContent{
    width: 80%;
  }
}
